/*=====================================================
Utilities
=====================================================*/
@use "../utilities/_colors" as c;
@use "../utilities/_mixins" as m;

/*=====================================================
EVENT
=====================================================*/
.event {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 25px;
  border-radius: 3px;

  background-color: c.$lightShades;
  color: c.$darkColorText;

  @include m.for-size(phone-only) {
    gap: 20px;
    align-items: center;
  }
}

.event__info {
  display: flex;
  gap: 25px;

  @include m.for-size(phone-only) {
    flex-direction: column; 
    gap: 0px;
  }
}

.event__location {
  display: flex;
  flex-direction: column;
}

