/*=====================================================
VARIABLES
=====================================================*/

/*===============================
Padding
===============================*/
$pad-l: 20em;
$pad-m: 5em;
$pad-s-m: 1.5em; 
$pad-s: 1em;

/*===============================
Margin
===============================*/
$marg-bottom-l: 2em;
$marg-bottom-s: 0.5em;

/*===============================
Proportions
===============================*/
$header-height: 100px;
$header-height-small: 75px;

$footerHeight: 30px;
