/*=====================================================
Utilities
=====================================================*/
@use "../utilities/_colors" as c;

/*=====================================================
ADMIN MERCHANDISE PAGE
=====================================================*/
.admin-merchandise-page {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  position: relative;
  background-color: c.$white;
  border-radius: 5px;
  color: c.$black;

  .merchandise__products {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1325px) {
  .admin-merchandise-page {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    width: 100%;

    .merchandise__products {
      grid-column: 1 / -1;
    }
  }
}