/*=====================================================
EVENT PAGE
=====================================================*/
.event-page {
  background-color: rgba(0, 0, 0, 0.9);
}

.events {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}
